/*  your css code here. If applicable */
*{
	background-color: #f5f5f5;
}
.testimonial-box1{
    padding: 10px;
    border: 1px solid #000;
    background-color: white;
}
.testimonial-text1{
	color: white
}
.testimonial-author1{
    text-align: right;
    font-style: italic;
}
.testimonial-box2{
    padding: 10px;
    border: 1px solid #000;
    background-color: white;
}
.testimonial-text2{
	color: white
}
.testimonial-author2{
    text-align: right;
    font-style: italic;
}